img {
    max-width: 100%;
    height: auto;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.topnav {
    background-color: #FFAD2B;
    overflow: hidden;
}
  .topnav a {
    float: left;
    color: #00B752;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: white;
    color: black;
}
.topnav a.active {
    background-color: #00B752;
    color: #FFAD2B;
}